* {
  margin: 0;
  font-size: 10px;
}

.modal-body {
  position: absolute;
  
  border: 4px solid #CAC8E7;
  background: #EAE7EF;
  overflow: auto;
  border-radius: 15px;
  outline: none;
  padding: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

    }

.modal-overlay {
  position: fixed;
    inset: 0px;
    background-color: rgba(14, 5, 77, 0.6);
}