* {
  margin: 0;
  font-size: 10px;
}

.modal-body {
  position: absolute;
  inset: 40px;
  border: 4px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;

    }